# Laravel / PHP
/vendor
/.phpunit.cache
.phpunit.result.cache
.phpactor.json
/auth.json

# Node / dependencias Front-end
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Laravel Storage & Cache
/storage/*.key
/storage/pail
/bootstrap/ssr
/public/hot
/public/storage

# Archivos de Entorno (Environments)
.env
.env.backup
.env.production
.env.local

# Vite / Assets Compilados 
/public/build

# Inertia / Archivos autogenerados JS
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder

# Bases de datos locales SQLite
database/database.sqlite
database/*.sqlite
database/*.sqlite3

# Archivos generados por el Sistema Operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDEs / Editores de código
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Entornos virtuales / Homestead
Homestead.json
Homestead.yaml
